<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tag words</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <style>
        .scrolling_container {
           overflow-y: auto;
           max-height: 75vh;
       }
    </style>
</head>
    <body>
        <div th:replace="~{header :: header}"></div>
        <div class="row">
            <div class="left">
                <p style="font-size: 30px; color: #666;">
                    List of all words with tag <b>'<span th:text="${tagName}"></span>'</b>:
                </p>
            </div>
            <div class="right">
                <form th:action="@{/words/create}">
                    <button type="submit" class="shadowed-button">Create new word</button>
                </form>
            </div>
        </div>
        <div class="scrolling_container">
            <table style ="width : 100%">
                <tr>
                    <th style="width: 3%">&numero;</th>
                    <th style="width: 23%">Word</th>
                    <th style="width: 24%">Translation</th>
                    <th style="width: 35%">Description</th>
                    <th style="width: 15%" colspan="2">Operations</th>
                </tr>
                <tbody th:if="${not #lists.isEmpty(words)}">
                    <tr th:each="word, i : ${words}">
                        <td th:text="${i.index + 1}"></td>
                        <td th:text="${word.foreignWord}"></td>
                        <td th:text="${word.translationWord}"></td>
                        <td th:text="${word.description}"></td>
                        <td><a th:href="@{/words/{id}/update(id=${word.id})}" class="tag-link">Edit</a></td>
                        <td><a th:href="@{/words/{id}/delete(id=${word.id})}" class="remove-link">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>