<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Words</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <style>
        .scrolling_container {
           overflow-y: auto;
           max-height: 80vh;
       }
    </style>
</head>
    <body>
        <div th:replace="~{header :: header}"></div>
        <br>
        <table style ="width : 100%">
            <tr>
                <th style="width: 5%">&numero;</th>
                <th style="width: 17%">Word</th>
                <th style="width: 17%">Translation</th>
                <th style="width: 25%">Description</th>
                <th style="width: 13%">Tag</th>
                <th style="width: 13%" colspan="2">Operations</th>
            </tr>
        </table>
        <div class="scrolling_container">
            <table style ="width : 100%">
                <tbody>
                    <tr th:each="word, i : ${words}">
                        <td style="width: 5%" th:text="${i.index + 1}"></td>
                        <td style="width: 17%" th:text="${word.foreignWord}"></td>
                        <td style="width: 17%" th:text="${word.translationWord}"></td>
                        <td style="width: 25%" th:text="${word.description}"></td>
                        <td style="width: 13%" th:text="${word.tagName}"></td>
                        <td style="width: 5.75%; text-align: center;"><a th:href="@{/words/{id}/update(id=${word.id})}" class="tag-link">Edit</a></td>
                        <td style="width: 6%; text-align: center;"><a th:href="@{/words/{id}/delete(id=${word.id})}" class="remove-link">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>