<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Word</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <div th:replace="~{header :: header}"></div>
    <div style="width: 50%;">
       <p style="font-size: 30px; color: #666;">Update word <b>'<span th:text="${word.foreignWord}"></span>'</b>:</p>
       <form th:action="@{/words/{id}/update (id=${word.id})}" class="word-form" method="post" th:object="${word}">
           <div class="form-group">
               <label for="foreignWord">Foreign Word</label>
               <input type="text" th:field="*{foreignWord}" id="foreignWord">
           </div >
           <ul th:if="${#fields.hasErrors('foreignWord')}">
               <li th:each="err : ${#fields.errors('foreignWord')}" th:text="${err}" class="error"></li>
           </ul>
           <div class="form-group">
               <label for="translationWord">Translation:</label>
               <input type="text" th:field="*{translationWord}" id="translationWord" required>
           </div>
           <ul th:if="${#fields.hasErrors('translationWord')}">
               <li th:each="err : ${#fields.errors('translationWord')}" th:text="${err}" class="error"></li>
           </ul>
           <div class="form-group">
               <label for="description">Description:</label>
               <textarea rows="7" type="text" th:field="*{description}" id="description"></textarea>
           </div>
           <ul th:if="${#fields.hasErrors('description')}">
               <li th:each="err : ${#fields.errors('description')}" th:text="${err}" class="error"></li>
           </ul>
           <div class="form-group">
               <label for="tag">Tag:</label>
               <select  th:field="*{tagName}" id="tag">
                   <option value="" hidden>Select a tag using the arrow on the right</option>
                   <option th:each="tag : ${tags}" th:value="${tag.name}" th:text="${tag.name}"></option>
               </select>
           </div>
           <div class="form-buttons-container">
               <button type="submit" class="standard-button">Update</button>
               <button type="reset" class="standard-button">Clear</button>
           </div>
       </form>
    </div>
<!--    <div class="section_right_for_word" th:if="${tag}">-->
<!--        <p style="font-size: 30px; color: #666;">All words with tag <b>'<span th:text="${tag.name}"></span>'</b></p>-->
<!--        <table style="width : 100%">-->
<!--            <tr>-->
<!--                <th>&numero;</th>-->
<!--                <th>Word</th>-->
<!--                <th>Translation</th>-->
<!--            </tr>-->
<!--            <tbody>-->
<!--            <tr th:each="word, i : ${tag.words}">-->
<!--                <td th:text="${i.index + 1}"></td>-->
<!--                <td th:text="${word.foreignWord}"></td>-->
<!--                <td th:text="${word.translationWord}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->

</body>
</html>