* {
    box-sizing: border-box;
}

header {
    background-color: #f1f1f1;
    font-size: 25px;
    color: #666;
    padding: 5px;
    overflow: auto;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-left a,
.header-right a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: gray;
    margin-left: 20px;
    transition: color 0.3s; /* Добавляем анимацию смены цвета */
}

.header-left a:hover,
.header-right a:hover {
    color: #0099ff; /* Цвет текста при наведении мыши на ссылку */
}

.tag-link {
    color: #0099ff;
    text-decoration: none;
}

.remove-link {
    color: #ff0066;
    text-decoration: none;
}

.tag-link:hover, .remove-link:hover {
    text-decoration: none;
}

.home, .word {
    display: flex;
}

.section_left_for_home {
    width: 70%;
    padding: 5px 10px;
}

.section_right_for_home {
    width: 30%;
    padding: 5px 10px;
}

.section_left_for_word {
    width: 30%;
    padding: 5px 10px;
}

.section_right_for_word {
    width: 70%;
    padding: 5px 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shadowed-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 150px;
    height: 40px;
    color: white;
    background-color: #00bfff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.shadowed-button:hover {
    background-color: #0099ff;
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
}
.standard-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 100px;
    height: 30px;
    color: #666;
    background-color: #f1f1f1;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.standard-button:hover {
    background-color: #00bfff;
    color: #666;
}

.find-form {
        display: flex;
        align-items: center;
    }

.find-form label {
    font-size: 20px;
    margin-right: 10px;
}
.find-form input {
    font-family: 'Times New Roman', sans-serif;
    font-size: 18px;
    margin-right: 10px;
}

.error {
        color: #ff0066;
        display: flex;
        flex-direction: column;
        max-width: 600px;
}

.errorDelete {
        position: absolute;
        margin-right: 10px;
        color: #ff0066;
}

.word-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

.form-group input, .form-group select, .form-group textarea {
    flex: 3;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
}

.form-buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-practice {
    width: 50%;
    display: flex;
    align-items: center;
    color: #666;
    margin: 20px 5px;
}


/* Стили для заголовка таблицы */
table th {
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

/* Стили для ячеек таблицы */
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

/* Стили для четных строк */
table tr:nth-child(even) {
  background-color: #f2f2f2;
}

