<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <header th:fragment="header">
        <div class="header-left">
            <a href="/home">My Vocabulary</a>
        </div>
        <div class="header-right">
            <a th:href="@{/practice/}">Practice</a>
            <a href="/words/find">Find word</a>
            <a th:href="@{/words/}">All words</a>
            <a th:href="@{/tags/}">All tags</a>
        </div>
    </header>
</body>
</html>