<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <div th:replace="header :: header"></div>
    <div class="home">
        <div class="section-1">
            <div class="row">
                <div class="left">
                   <p style="font-size: 30px; color: #666;">List of words</p>
                </div>
                <div class="right">
                    <form th:action="@{/users/create}">
                        <button type="submit" class="shadowed-button">Create new word</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="section-2">
            <div class="row">
                <div class="left">
                    <p style="font-size: 30px; color: #666;">List of tags</p>
                </div>
                <div class="right">
                    <form th:action="@{/users/create}">
                        <button type="submit" class="shadowed-button">Create new tag</button>
                    </form>
                </div>
            </div>
            <table style="width : 100%">
                <tr>
                    <th>&numero;</th>
                    <th>Name</th>
                </tr>
                <tbody>
                <tr th:each="tag, i : ${tags}">
                    <td th:text="${i.index + 1}"></td>
                    <td th:text="${tag.getName()}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>

