<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practice page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <div th:replace="~{header :: header}"></div>

    <form th:action="@{/practice/}" method="post">
        <div class="form-practice">
            <div style="flex: 1;">
                <label for="tagName" style="font-size: 25px;">Tag for practice:</label>
                <select  id="tagName" name="tagName" style="font-size: 16px;">
                    <option value="" hidden>Select a tag using the arrow on the right</option>
                    <option th:each="tag : ${tags}" th:value="${tag.name}" th:text="${tag.name}"></option>
                </select>
            </div>

            <div style="margin-left: 20px; font-size: 20px;">
                <input type="radio" id="direct" name="translateDirection" value="direct">
                <label for="direct">from foreign to native</label>
                <input type="radio" id="reverse" name="translateDirection" value="reverse">
                <label for="reverse">from native to foreign</label>
            </div>

            <div style="margin-left: 40px;">
                <button type="submit" class="standard-button">Choose</button>
            </div>
        </div>
    </form>

    <p th:if="${not #lists.isEmpty(words)}" style="font-size: 30px; color: #666;">
        Practice for tag <b>'<span th:text="${tagName}"></span>'</b>:
    </p>

    <table  th:if="${not #lists.isEmpty(words)}" style ="width : 100%">
        <tr>
            <th style="width: 5%">&numero;</th>
            <th style="width: 20%">Word</th>
            <th style="width: 28%">Translation</th>
            <th style="width: 37%">Description</th>
            <th style="width: 10%">Action</th>
        </tr>
        <tbody>
            <tr th:each="word, i : ${words}">
                <td th:text="${i.index + 1}"></td>
                <td>
                    <span th:text="${foreign[i.index] ? word.foreignWord : ''}" ></span>
                </td>
                <td>
                    <span th:text="${translation[i.index] ? word.translationWord : ''}"></span>
                </td>
                <td>
                    <span th:text="${description[i.index] ? word.description : ''}"></span>
                </td>
                <td style="text-align: center;">
                    <form th:action="@{/practice/}" method="post">
                        <input type="hidden" th:name="rowNumber" th:value="${i.index}" />
                        <button type="submit">Check</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>

