<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practice page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <div th:replace="~{header :: header}"></div>

        <form th:action="@{/practice/}" method="post">
            <div class="form-practice">
                <div style="flex: 1;">
                    <label for="tag" style="font-size: 25px;">Tag for practice:</label>
                    <select  id="tag" name="tag" style="font-size: 16px;">
                        <option value="" hidden>Select a tag using the arrow on the right</option>
                        <option th:each="tag : ${tags}" th:value="${tag.name}" th:text="${tag.name}"></option>
                    </select>
                </div>

                <div style="margin-left: 20px; font-size: 20px;">
                    <input type="radio" id="direct" name="translateDirection" value="direct">
                    <label for="direct">Direct translation</label>
                    <input type="radio" id="reverse" name="translateDirection" value="reverse">
                    <label for="reverse">Reverse translation</label>
                </div>

                <div style="margin-left: 40px;">
                    <button type="submit" class="standard-button">Choose</button>
                </div>
            </div>
        </form>

</body>
</html>

