<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practice page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <div th:replace="~{header :: header}"></div>

    <p style="font-size: 25px; color: #666; margin-left: 20px;">Select tag and translate direction</p>

    <div class="form-practice">
        <form th:action="@{/practice/}" method="post">
            <div class="form-group">
                <select  id="tagName" name="tagName" style="font-size: 15px; margin-left: 10px;">
                    <option style="font-size: 15px" value="" hidden>Select a tag using the arrow on the right</option>
                    <option style="font-size: 15px; color: #666;" th:each="tag : ${tags}" th:value="${tag.name}" th:text="${tag.name}"></option>
                </select>
            </div>
            <div style="font-size: 20px; margin: 20px 10px;" >
                <input type="radio" id="direct" name="translateDirection" value="direct">
                <label for="direct">from foreign to native</label>
                <input type="radio" id="reverse" name="translateDirection" value="reverse">
                <label for="reverse">from native to foreign</label>
            </div>
            <div style="margin: 35px 20px;">
                <button type="submit" class="standard-button">Choose</button>
            </div>

        </form>
    </div>
</body>
</html>

